<mat-drawer-container class="h-full">
  <mat-drawer #drawer class="w-1/6 p-5" opened mode="side">
    <div class="flex flex-col items-center justify-center">
      <h1 routerLink="/cards" class="cursor-pointer">Yu-Gi-Oh!</h1>
      <p routerLink="/cards" class="cursor-pointer">List</p>
      <p routerLink="/card/0" class="cursor-pointer">Random card</p>
      <!-- <p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p> -->
      <!-- <button (click)="showFiller = !showFiller" mat-raised-button>
        Toggle extra text
      </button> -->

    </div>
  </mat-drawer> 

  <div class="h-full w-full pt-2 px-8"> 
    <button type="button" (click)="drawer.toggle()"
    class="absolute top-1 left-1 w-5 h-5 bg-white rounded-full border border-[#e3e3e3] text-black">
      {{drawer.opened ? '<' : '>'}}
    </button> 

    <router-outlet></router-outlet>
  </div>
</mat-drawer-container>